<nav class="navbar ">
  <div class="wrapper d-flex justify-content-between align-items-center">
    <div class="brand">LOGO</div>
    <div class="navs  d-flex justify-content-between">
      <div class="links black d-flex nav-not-mobile">
          <button mat-button color="primary" class="item">HOME</button>
          <button mat-button color="primary" class="item">SHOP</button>
          <button mat-button color="primary" class="item">CONTACT</button>
          <button mat-button color="primary" class="item">AR</button>
         
          <!-- <a href="#" class="item"></a> nav-mobile-->
      </div>
      <div class="settings d-flex align-items-center justify-content-center">
       <div  id="user-account">
        <button mat-icon-button mat-button color="primary" class="item"><i class="fa fa-user"></i>
          </button>
          <div id="user-dd1" class="dropdown user">
            <ul>
              <li> <button mat-button color="primary" class="item"><mat-icon>login</mat-icon> LOGIN</button></li>
              <li> <button mat-button color="primary" class="item"><mat-icon>logout</mat-icon> SIGN UP</button></li>
              <li> <button mat-button color="primary" class="item"><mat-icon>account_circle</mat-icon> YOUR PROFILE</button></li>
              <li> <button mat-button color="primary" class="item"><mat-icon>logout</mat-icon> LOGOUT</button></li>
            </ul>
          </div>
       </div>
        <div class="cart-dropdown" id="cart">
          <button mat-icon-button mat-button color="primary"  class="item">  <mat-icon matBadge="{{cart.length}}" matBadgeColor="warn">add_shopping_cart</mat-icon></button>
          <div id="user-dd" class="dropdown">
            <ul id="cart-ul" *ngFor="let item of cart">
              <li> <button mat-button color="primary" class="item d-flex justify-content-between">
                <div class="d-flex flex-row">
                  <span class="cart-section d-flex flex-column">
                    <span class="label d-flex flex-column">
                      <span class="label-title">Product</span>
                      <span>{{item.itemName}}</span>
                    </span>
                    <span class="label d-flex flex-column">
                      <span class="label-title">Price</span>
                      <span class="price">{{item.price}} {{item.currency}}</span>
                    </span>
                  </span>

                 <span class="cart-section d-flex flex-column">
                  <span class="label d-flex flex-column">
                    <span class="label-title">Quantity</span>
                    <span class="quantity">{{item.quantity}}</span>
                  </span>
                  <span class="label">
                    <span class="label-title">{{item.time|date:'short'}}</span>
                  </span>
                 
                 </span>
                 <span class="cart-section" id="img-section"> 
                  <img  class="img" src="{{item.itemImg}}"alt="{{item.pridcutDisc}}">
                 </span>
                </div>
              </button></li>
              <!-- <hr> -->
            </ul>
            <button style="width: 100%;" mat-button color="primary" class="item">SHOW ALL</button>
          </div>
        </div>
      

       <!-- mobile side menu -->
     
        <button class="nav-mobile" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>reorder</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Home</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Shop</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
        </div>
    </div>
  </div>
 
</nav>
